#ad-slider .hcg-slide-container {
	width: 700px;
	height: 350px;
}
.hcg-slider {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.hcg-slide-container {
	max-width: 100%;
	display: inline-block;
	position: relative;
}
.hcg-slides {
	display: none;
	text-align: center;
	overflow: hidden;
}
.hcg-slides img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	border-radius: 5px;
	border: solid 1px #a0a0a0;
	vertical-align: middle;
}
.hcg-slide-dot-control {
	margin-top: 10px;
	text-align: center;
}
.hcg-slide-dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
.hcg-slide-dot.dot-active {
	background-color: #717171;
}
.hcg-slide-number {
	color: #ffffff;
	font-size: 12px;
	padding: 4px 7px;
	position: absolute;
	border-radius: 5px;
	top: 5px;
	left: 5px;
	background-color: rgba(255,255,255,0.30);
}
/************CSS Animation***********/

.animated { 
	animation-name: fadeIn; 
	animation-duration: 1s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fadeIn {
	animation-name: fadeIn;
}

